/*Hoja de Estilos*/
#map {
  width: 700px;
  height: 200px;
}
.center {
  text-align: center;
}
.resume {
  text-align: left;
  font-size: 1em;
  padding: 5%;
  color: darkgray;
}
.thumbs div {
  padding-top:15px;
  padding-bottom:15px;
}
nav{
margin-top: 15px;
}
#nav-text{
  text-align: right;
  font-size: 2em;
  margin: 15px;
  color: #43ab5f;
}
.mapouter, .gmap_canvas {
  height:220px;width:720px;
}
.gmap_canvas {
  background:none!important
}
.padd_map {
  padding-top: 20px;
  border-radius: 12px;
}
#imgfooter{
	width: 100%;
}
.footerFirst{
	background: #1c1c1c;
}
.footerFirst .col-md-6{
	padding: 3% 0 1% 0;
	display: inline-block;
}
.social, .footerCont{
	margin: 1%;
}
.footerFirst a, .footerFirst a:hover, .social{
	color: #6b6b6b;
}
.footerSecond{
	background: #272525;
}
.fa-twitter-square:before,
.fa-facebook-square:before,
.fa-youtube-square:before,
.fa-instagram:before 
{
  font-size: 2em;
}